# Conditional statements in Python

Conditional statements in programming are used to execute specific blocks of code based on whether certain conditions are met.

**if, elif, and else**

**if** statements are the most basic form of conditional execution. They are used to execute a block of code only if a specified condition is True.

In [ ]:
# Check how many digits our variable has
x = 15

if x > 9:
    print("Our variable is a two-digit number")

In [ ]:
# Let's try it with booleans
x = True

if x:  # "if x" is the same as "if x==True"
    print("x was true")

In [ ]:
x = False

if x:
    print("x was true") # It did not print becuase x is False

**Nested if** statements are used when we need to perform another conditional check within an if block.

In [ ]:
x = 15
odd_number = True

if x > 9:
    if odd_number:  # remember that "if odd_number" is equivalent to "if odd_number == True"
        print("x is an odd number and a two-digit number")

**if-else statements** execute one block of code if the condition is True and another block if it is False. We can use multiple "if" but only one "else". "else" cannot be used without an "if".

In [ ]:
x = 15

if x < 10:
    print('10')
else:
    print('Not 10')

In [ ]:
x = False

if x:
    print("x was true")
else:
    print("y will be printed in any case where x is not true")

**elif** (short for else if) **statements** provide a middle ground between if and else. They are used when we have multiple conditions to check sequentially.

In [ ]:
x = 15

if x >= 15:
    print('15 or more')
elif x < 15:
    print('Not 15')
else:
    print('less than 10')

In [ ]:
Toyota = "Car"

if Toyota == "Car":
    print("Welcome to the dealership store!")
if Toyota == "Car":
    print("Don't leave so soon!")
else:
    print("Where are you going?")

In [ ]:
Toyota = "Car"

if Toyota == "Car":
    print("Welcome to the dealership store!")
elif Toyota == "Car":
    print("Don't leave so soon!")
else:
    print("Where are you going?")

Welcome to the dealership store!

**Chained conditional statements** use elif (else if) for multiple checks. They are used when there are more than two possibilities and exactly one must be chosen.

In [ ]:
# Determine and print appropriate environmental actions based on the current deforestation rate level.
deforestation_rate = 0.1

if deforestation_rate > 0.3:
    print("Implement emergency measures")
elif deforestation_rate > 0.2:
    print("Increase surveillance and conservation efforts")
elif deforestation_rate == 0.1:
    print("Deforestation has reached the maximum safe limit")
elif deforestation_rate >= 0.1:
    print("Monitor and plan reforestation")
else:
    print("Deforestation rate is within safe limits")

Deforestation has reached the maximum safe limit

In [ ]:
temperature = 4

if temperature > 30:
    print('Sunny and Hot')
elif temperature >= 20 and temperature <= 30:
    print('Sunny and Moderate')
elif temperature < 20 and temperature >= 5:
    print('Rainy and Cold')
else:
    print('Rainy and Very Cold')

Rainy and Very Cold

Conditional statement keywords: **not** and **pass**

if not is used to check the negation of a condition. It's a more readable way to check if not true.

In [ ]:
carcinoma_detected = False

if not carcinoma_detected:
    print("Patient is healthy!")
else:
    print("Carcinoma detected!")

Patient is healthy!

**pass** is a null statement in Python. It is used when a statement is syntactically required but we do not want any command or code to execute. It is often used as a placeholder for future code.

In [ ]:
# This code will result in an error because the 'if' block is empty.
carcinoma_level = 0.09

if carcinoma_level > 0.11:
else:
    print("No immediate action required")

To resolve this error, we can insert a **pass** statement in the **if** block.

In [ ]:
carcinoma_level = 0.24

if carcinoma_level > 0.11:
    pass
else:
    print("No immediate action required")

#***Loops ***

Loops are a fundamental concept in programming, serving a crucial role in automating repetitive tasks and efficiently handling large datasets.

**for loops**: Ideal for going through a sequence (like a list, tuple, or string), one by one. We use for loops when we know how many things there are in a list.

In [ ]:
list_of_numbers =[0,1,2,3,4,5]
for i in list_of_numbers:
    print(i)

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in list1:
    print(num * 2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
list(range(1,10)) # range is a built-in function in python

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(1,10):
    print(i + 5)

6
7
8
9
10
11
12
13
14

In [ ]:
for nm in list1:
    if nm % 2 == 0: # Modulo is what we used here, unlike division modulus allows us to get the remainder of a division
        print(nm)
    else:
        print('odd number')

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [ ]:
list2 = ['w', 'o', 'r', 'd']
list2

['w', 'o', 'r', 'd']

In [ ]:
result=''

for faruq in list2:
    result += faruq # This += symbol is for concatenation. It is similar to saying result = result + faruq
    print(result)

w
wo
wor
word

In [ ]:
print(list2)  # let's compare the output of this code with the output of the code above

['w', 'o', 'r', 'd']

In [ ]:
list3 = [1,2,3,4,5,6]
list3

[1, 2, 3, 4, 5, 6]

In [ ]:
ng = 7

for i in list3:
    ng += i
    print(ng)

8
10
13
17
22
28

In [ ]:
nr = 6

for k in range(1,5):
    nr +=k
    print(nr)

7
9
12
16

In [ ]:
print(nr)  # This shows the result of when the print statement is not used in the same indentation as the loop

16

In [ ]:
for i in range(121):
    print(i, "times 2 is", 2*i)

0 times 2 is 0
1 times 2 is 2
2 times 2 is 4
3 times 2 is 6
4 times 2 is 8
5 times 2 is 10
6 times 2 is 12
7 times 2 is 14
8 times 2 is 16
9 times 2 is 18
10 times 2 is 20
11 times 2 is 22
12 times 2 is 24
13 times 2 is 26
14 times 2 is 28
15 times 2 is 30
16 times 2 is 32
17 times 2 is 34
18 times 2 is 36
19 times 2 is 38
20 times 2 is 40
21 times 2 is 42
22 times 2 is 44
23 times 2 is 46
24 times 2 is 48
25 times 2 is 50
26 times 2 is 52
27 times 2 is 54
28 times 2 is 56
29 times 2 is 58
30 times 2 is 60
31 times 2 is 62
32 times 2 is 64
33 times 2 is 66
34 times 2 is 68
35 times 2 is 70
36 times 2 is 72
37 times 2 is 74
38 times 2 is 76
39 times 2 is 78
40 times 2 is 80
41 times 2 is 82
42 times 2 is 84
43 times 2 is 86
44 times 2 is 88
45 times 2 is 90
46 times 2 is 92
47 times 2 is 94
48 times 2 is 96
49 times 2 is 98
50 times 2 is 100
51 times 2 is 102
52 times 2 is 104
53 times 2 is 106
54 times 2 is 108
55 times 2 is 110
56 times 2 is 112
57 times 2 is 114
58 times 2 is 116
59 times 2 is 118
60 times 2 is 120
61 times 2 is 122
62 times 2 is 124
63 times 2 is 126
64 times 2 is 128
65 times 2 is 130
66 times 2 is 132
67 times 2 is 134
68 times 2 is 136
69 times 2 is 138
70 times 2 is 140
71 times 2 is 142
72 times 2 is 144
73 times 2 is 146
74 times 2 is 148
75 times 2 is 150
76 times 2 is 152
77 times 2 is 154
78 times 2 is 156
79 times 2 is 158
80 times 2 is 160
81 times 2 is 162
82 times 2 is 164
83 times 2 is 166
84 times 2 is 168
85 times 2 is 170
86 times 2 is 172
87 times 2 is 174
88 times 2 is 176
89 times 2 is 178
90 times 2 is 180
91 times 2 is 182
92 times 2 is 184
93 times 2 is 186
94 times 2 is 188
95 times 2 is 190
96 times 2 is 192
97 times 2 is 194
98 times 2 is 196
99 times 2 is 198
100 times 2 is 200
101 times 2 is 202
102 times 2 is 204
103 times 2 is 206
104 times 2 is 208
105 times 2 is 210
106 times 2 is 212
107 times 2 is 214
108 times 2 is 216
109 times 2 is 218
110 times 2 is 220
111 times 2 is 222
112 times 2 is 224
113 times 2 is 226
114 times 2 is 228
115 times 2 is 230
116 times 2 is 232
117 times 2 is 234
118 times 2 is 236
119 times 2 is 238
120 times 2 is 240

In [ ]:
b = 'result'
exercise = []

for l in b: # l means every item in b
  exercise += l
  print(exercise)

['r']
['r', 'e']
['r', 'e', 's']
['r', 'e', 's', 'u']
['r', 'e', 's', 'u', 'l']
['r', 'e', 's', 'u', 'l', 't']

In [ ]:
print(exercise)

['r', 'e', 's', 'u', 'l', 't']

**while loops**: While loops continue to execute a set of instructions as long as a certain condition is met.

In [ ]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
x = 0

while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1

else:
    print('All done')

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
x is currently:  5
x is still less than 10, adding 1 to x
x is currently:  6
x is still less than 10, adding 1 to x
x is currently:  7
x is still less than 10, adding 1 to x
x is currently:  8
x is still less than 10, adding 1 to x
x is currently:  9
x is still less than 10, adding 1 to x
All done

**Loop control statements** are used to change the execution flow of loops. The primary loop control statements in Python are **break, continue, and pass.**

**break** immediately stops the execution of a loop, and the control flows to the statement immediately after the loop.

**continue** skips the rest of the loop's body for the current iteration and moves to the next iteration.

**pass** does nothing. It's used as a placeholder.

In [ ]:
x = 1
while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x==4:
        print('breaking because x==4')
        break

x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
breaking because x==4

In [ ]:
x = 1
while x < 10:
    print('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
    if x==4:
        print('breaking because x==4')
        break
    else:
        print('continuing...')
        continue

x is currently:  1
x is still less than 10, adding 1 to x
continuing...
x is currently:  2
x is still less than 10, adding 1 to x
continuing...
x is currently:  3
x is still less than 10, adding 1 to x
breaking because x==4